server:
  port: ${PORT}

spring:
  mail:
    username: sergioandresrr@ufps.edu.co
    password: ibpuzipuuzkcjzgk
  datasource:
    url: jdbc:mysql://www.madarme.co/madarme_innova
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: madarme_innova
    password: cR4coa3uRr
  jpa:
    show-sql: true
    database-platform: org.hibernate.dialect.MySQL5InnoDBDialect
    hibernate:
      ddl-auto: update
