spring:
  mail:
    username:
    password:
  datasource:
    url: jdbc:mysql://
    driver-class-name: com.mysql.cj.jdbc.Driver
    username:
    password:
  jpa:
    show-sql: false
    database-platform: org.hibernate.dialect.MySQL5InnoDBDialect
    hibernate:
      ddl-auto: validate
